html, body { height: 100%; width: 100%; }
body { margin: 0; padding: 0; font-size: 62.5%; background-color: #10FF00; }

p, h1 {
	margin: 0; padding: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
h1 { font-size: 4em; padding: 0.5em; }
p {font-size: 3em;}

.block {
	width: 100%; height: 100%;
	position: absolute; top: 0; left: 0;
}

.wee { font-size: 2em; }

#slight {
	background-color: #FFEE00;
	height: 0; width: 100%;
}
#serious {
	background-color: #FFB200;
	height: 0; width: 100%;
}
#fatal {
	background-color: #FF0000;
	height: 0; width: 100%;
}